<footer class="main-footer">
    <div class=" container footer">
      <div class="footer__item">
        <h6>تپسی</h6>
        <a href="#">وبلاگ تپسی </a>
        <a href="#"> فرصت شغلی </a>
        <a href="#">تماس با ما</a>
        <a href="#"> لوگو و هویت سازمانی </a>
      </div>
      <div class="footer__item">
        <h6>تپسی</h6>
        <a href="#">وبلاگ تپسی </a>
        <a href="#"> فرصت شغلی </a>
        <a href="#">تماس با ما</a>
        <a href="#"> لوگو و هویت سازمانی </a>
      </div>
      <div class="footer__item">
        <h6>مسافران</h6>
        <a href="#">دنلود اپ مسافران </a>
        <a href="#"> نسخه وب تپسی </a>
        <a href="#">پرسش های متداول مسافران</a>
        <a href="#"> باشگاه مشتریان </a>
      </div>
      <div class="footer__item">
        <h6>راننددگان</h6>
        <a href="#"> ثبت نام راننده تاکسی اینترنی </a>
        <a href="#"> دانلود اپ سفیر </a>
        <a href="#">تماس با ما پرسش های متداول </a>
        <a href="#"> باشگاه مشتریان  </a>
      </div>
      <div class="footer__item">
        <div class="footer__item">
          <h6>تپسی</h6>
          <a href="#">وبلاگ تپسی </a>
          <a href="#"> فرصت شغلی </a>
          <a href="#">تماس با ما</a>
          <a href="#"> لوگو و هویت سازمانی </a>
        </div>
      <div class="footer__item enemad">
        <div class="footer__enemad">
          <img src="/assets/images/enemad.png" alt="نترس اعتماد کن :)" />
        </div>
        <div class="footer__enemad">
          <img src="/assets/images/enemad.png" alt="نترس اعتماد کن :)" />
        </div>
        <div class="footer__enemad">
          <img src="/assets/images/enemad.png" alt="نترس اعتماد کن :)" />
        </div>
      </div>
    </div>
  </footer>