<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>tapsi demo</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <section class="conainer travell block">
      <div class="travell__slides">
        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell.png" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت ویژه &bull;سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر</p>

            <div class="slide__icon">
              <div>
                <i class="fa-solid fa-eye"></i>
                <span>24</span>
                <i class="fa-solid fa-heart liked"></i>
                <span>9</span>
              </div>
              <div>
                <i class="fa-solid fa-trash-can"></i>
                <i class="fa-regular fa-pen-to-square"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/images (1).jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهادات</span>
            </div>
          </div>
        </div>
        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell-4.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت ویژه &bull;سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به دل جنگل النگ دره</p>
            <div class="slide__icon">
              <div>
                <i class="fa-solid fa-eye"></i>
                <span>44</span>
                <i class="fa-solid fa-heart"></i>
                <span>21</span>
              </div>
              <div>
                <i class="fa-solid fa-trash-can"></i>
                <i class="fa-regular fa-pen-to-square"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/images (2).jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-2.jpeg" alt="" />
              </div>
              <div class="avatar">
                <img
                  src="/assets/images/watercolor-female-avatar.webp"
                  alt=""
                />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهادات</span>
            </div>
          </div>
        </div>
        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell-3.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>تفریحات ویژه &bull;سفر یک روزه</p>
            </div>
            <p class="slide__title">سفر به سد البرز</p>
            <div class="slide__icon">
              <div>
                <i class="fa-solid fa-eye"></i>
                <span>32</span>
                <i class="fa-solid fa-heart"></i>
                <span>29</span>
              </div>
              <div>
                <i class="fa-solid fa-trash-can"></i>
                <i class="fa-regular fa-pen-to-square"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/result-pic-1.88c3881.png" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/unnamed.png" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-1.webp" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهادات</span>
            </div>
          </div>
        </div>
        <div class="travell__slide">
          <div class="slide__img">
            <img src="/assets/images/travell-2.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت ویژه &bull;سفر چهار روزه</p>
            </div>
            <p class="slide__title">کوه پرشکوه قلاقیران استان ایلام</p>
            <div class="slide__icon">
              <div>
                <i class="fa-solid fa-eye"></i>
                <span>29</span>
                <i class="fa-solid fa-heart"></i>
                <span>15</span>
              </div>
              <div>
                <i class="fa-solid fa-trash-can"></i>
                <i class="fa-regular fa-pen-to-square"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/images.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/2.webp" alt="" />
              </div>
              <div class="avatar">
                <img src="/assets/images/images.png" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهادات</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
